/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #111;
    background-image: linear-gradient(45deg, #FFA500 25%, #FFF 25%, #FFF 50%, #FFA500 50%, #FFA500 75%, #FFF 75%, #FFF);
    background-size: 20px 20px;
}

#qr-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

#input-text {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #218838;
}

/* Estilo de la imagen pequeña del flyer */
#flyer {
    width: 60px; /* Ajusta el tamaño como prefieras */
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
